.title {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #747AC6}
.links {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF; text-decoration: none}
.links:hover { color: #FFFFFF; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.subtitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #CC99CC}
.bullet {  list-style-image:  url(images/bullet.gif)}
.date {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF}
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 19px}
a:hover {  color: #CC99CC; text-decoration: none}
.footer { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; line-height: normal; color: #FFFFFF; font-weight: bold ; text-decoration: none}
.footer:hover {  color: #FFFFFF}
